<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Users List</title>
</head>
<body>
<div>
    <table id="users">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>E-Mail</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <form th:action="@{/update/} + ${{user.id}}" method="get">
                    <button type="submit">
                        <i>X</i>
                    </button>
                </form>
            </td>
            <td>
                <form th:action="@{/remove/} + ${{user.id}}" method="post">
                    <button type="submit">
                        <i>X</i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <a href="add_user">Add new user</a>
</div>

</body>
</html>