<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update User</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Update user</h1>
<form th:action="@{/update/} + ${{user.id}}" th:object="${user}" method="post">
  <p>Username: <input type="text" th:field="*{username}" required="true" /></p>
  <p>Password: <input type="text" th:field="*{password}" required="true" /></p>
  <p>E-Mail: <input type="text" th:field="*{email}" required="true" /></p>
  <p><input type="submit" value="Update" /></p>
</form>
</body>
</html>